nav {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 60px;
    background: gray;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    align-self: center;
    margin-left: 50px;
}

.nav-links {
    align-self: center;
    margin-right: 50px;
    justify-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



form {
    background: white;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    margin: 100px auto;
    text-align: left;
}

input {
    display: block;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid rgb(176, 176, 176);
    width: 90%;
    margin: 5px 0 10px;
    font-size: 16px;
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px gray;
}

.content {
    text-align: center;
}


.landing {
    padding-top: 30vh;
}
