nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 60px;
    background: gray;
}

h1 {
    padding-top: 100px;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    align-self: center;
    margin-left: 50px;
}

.nav-links {
    align-self: center;
    margin-right: 50px;
    justify-self: space-evenly;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
}

form {
    background: white;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    margin: 100px auto;
    text-align: left;
}

input,
textarea {
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(176, 176, 176);
    width: 100%;
    margin: 5px 0 10px;
    font-size: 16px;
}

input[type="submit"]{
    width: 100%;
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px gray;
}

.content {
    text-align: center;
}


.landing {
    padding-top: 30vh;
}

.map {
    width: 100%;
    margin: 0 auto;
}

.icon {
    color: rgb(10, 194, 40);
}

.click-btn {
    background: none;
    border: none;
}

.popup {
    width: 300px;
    height: 100vh;
    background: rgb(222, 249, 207);
    box-shadow: 1px 1px 3px lightgray;
    position: relative;
    padding: 30px;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
}

table {
    border: 1px solid gray;
    width: 70%;
    margin: 50px auto;
}

.heading th {
    padding-bottom: 20px;
}

th, 
td {
    text-align: left;
}

.unread td {
    font-weight: bold;
}

#message-form {
    width: 85%;
    margin: 40px auto;
}

.hidden {
    display: none;
}

.messages {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

.messages h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.messages-nav {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    justify-items: flex-start;
    padding: 50px 60px;
}

.single-message {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 3px lightgray;
}

form.reply {
    margin-top: 30px;
    width: 60%;
}